@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
.dark-theme-variables {
    background: #0a0a0a!important;
    transition:all .5s ease;
}
.font-dark-theme,.font-dark-theme>.list-items a{
    color:#fff;
    background:rgba(20, 20, 20,1)!important;
    transition:all .5s ease;
}
.font-dark-theme .showall{
    color:#220ff1;
}
.box-dark{
    color:#fff;
    background:rgba(29, 28, 28, 0.802)!important;
    transition:all .5s ease;
}
.box-dark:hover{
    background:rgb(41, 40, 40)!important;
}
.font-dark-theme .circular-progress::before,.font-dark-theme .cirvalue{
    color:#fff;
    background:rgb(20, 20, 20)!important;
    transition:all .5s ease
}
.lightwhite{
    color:rgb(200, 201, 190);
    background:rgb(15, 15, 15);
    transition:all .5s ease;
}
.menu span{
    cursor:pointer;
    color:var(--color-dark);
    display:none;
}
.menu{
    display:inline-block;
    width:100px;
}
.calculate span{
    font-size:2.3em;
}
.toppo{
    height:60px;
    display: flex;
    align-items: center;
    width:100%;
    padding:0px 10px;
    justify-content: space-between;
}
.right_toppo{
    display: flex;
}

/* ----rooo variable----- */
:root {
    --color:#2853c2;
    --color-primary: #557de1;
    --color-danger: ff7782;
    --color-success: 41flb6;
    --color-warning: ffbb55;
    --color-white: fff;
    --color-info-dark: #7d8dal1;
    --color-info-light: dceleb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #11le88;
    --color-dark-variant: #677483;
    --color-background: f6f6f9;
    -card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: e 2rem 3rem var(--color-light);
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    outline:0;
    list-style: none;
    outline: none;
    text-decoration: none;
}
body{
    font-family: poppins, sans-serif;
    user-select: none;
}
.wrapper{
    width:100%;
    height:100vh;
    padding:0px 0px;
}
.container{
    width:100%;
    background:rgb(238, 235, 235);
    display:grid;
    gap:1.8rem;
    grid-template-columns:13rem auto;
    height:100vh;
    overflow:hidden;
    transition:all .5s ease;

}
aside{
    background:rgb(238, 235, 235);
    padding:10px;
    height: 100%;
    transition:all .5s ease;

}
.top{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logo{
     display:flex;
    flex-direction: row;
    align-items: center;
}
.logo img{
    width:20%;
    display:inline-block;
}
.logo h2{
    display:inline-block;
}
.close{
    cursor:pointer;
    display:none;
}
.logo h2 span{
    color:var(--color-primary);
}
.list-items{
    margin-top:20px;
    display: grid;
    grid-gap:10px;
}
.list-items a{
    display:flex;
    align-items: center;
    color:var(--color-dark);
    font-size:15px;
    height:1.5rem;

}
.list-items a:hover{
    border-left: 5px solid var(--color-primary);
    background:#5174ce30;
    transition:all .3s ease;
    border-radius: 3px;
    width:100%;
    overflow:hidden;    
}
.list-items a:hover>span{
    padding-left:5px;
    transition:all .3s ease;
}
.list-items .logout{
    position:absolute;
    bottom:1rem;
    
}
.list-items .logout:hover{
    background:none;
}
#noti{
    margin-left: 17px;
    padding:6px 12px;
    background:#557de1;
    border-radius: 10px;
    font-size:16px
}
.switch{
    width:40px;
    border:2px solid #000;
    display: flex;
    height:35px;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    cursor: pointer;
    transition:all .5s ease;
}
.switch span{
    transition:all .5s ease;
}

/* @media querry section */
    @media screen and (max-width:820px) {
        .list-items a{
            height: 2.4rem;
            font-size:20px;         
        }
        .insights{
            display:flex;
            align-items: center;
            justify-content: center;
            grid-template-columns:none!important;
        }
        .sales{
            width:300px!important;
        }
        .right{
            justify-content: flex-end!important;
        }
        .recent-order  table{
            width:100%!important;
            font-size:.8em!important;
            font-weight: 600;
            
        }
        .recent-order tbody tr td{
            padding:6px 3px!important;
        }
        
    }
    @media screen and (max-width:1080px){
        .insights{
            display:flex;
            align-items: center;
            justify-content: center;
            grid-template-columns:normal!important;

        }
        .right{
            justify-content: flex-end!important;
        }
        .container{
            grid-template-columns: none;
        }
         aside{
            position: absolute;
            left:-300px;
            width:250px;
            z-index: 4;
        }
        .recent-order  table{
            width:90%!important;
            font-size:1.1em;
            
        }
    }
    @media screen and (min-width:1020px) {
        
        .list-items a{
            height: 1.7rem;
        }
        .recent-order  table{
            width:80%!important;
            font-weight: 600;
            font-size: 100%;
        }
        .twofeatures{
            gap:0!important;
            width:95%;
            margin-left:5%;
        }
        .update-box,.item-online{
            min-width:22rem!important;
        }
    }
/* ---@media querry section end */
/* main section start allllllll */

main{
    margin-top:0px;
   width:100%;
   height:100vh;
   overflow-y:scroll;
   padding-bottom:50px;
   display:grid;
   grid-gap: 1.5em;
   padding:0px 10px;
}
main h2{
    font-weight: 600;
    font-family: sans-serif,roboto;
}
main h2 span{
    color:var(--color-primary)
}
.date input{
    border-radius:5px;
    padding:2px;
    background:rgba(176, 170, 170, 0.428);
    border:none;
    font-weight: 600;
}
.insights{
    padding:5px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
    width:100%;
}
.sales{
    margin-top:10px;
    height: 180px;
    width:250px;
    background:#fff;
    padding:7px 14px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.184);
    z-index: 2;
}
.sales span{
    color:#fff;
    background:var(--color-primary);
    border-radius: 25px;
    padding:7px;
    margin-bottom: 10px;
}
#income{
    background:#f707cf;
}
#expenses{
    background:#40fc2b;
}
.middle{
    width:100%;
    display:flex;
    flex-direction: row;
}
.left{
    width:80%;
}
.left h2{
    font-size:.7rem;
    margin-bottom: 12px;
}
.left h3{
    font-weight: 600;
    font-family: sans-serif,fantasy;
    word-spacing:1px;
    font-size:2rem;
}
.right{
    width:100%;
    height:100px;    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.circular-progress{
    width:90px;
    height:90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:10px;
}
.circular-progress::before{
    content:" ";
    position:absolute;
    width:75%;
    height:75%;
    border-radius: 50%;
    background:#fff;

}
.valued-num p{
    color:#000;
    position:relative;
    font-weight: 600;
}
.recent-order{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recent-order h2{
    align-self: flex-start;
    margin-bottom: 10px;
}
.recent-order table{
    height:50vh;
    width:40rem;
    background:#fff;
    padding:20px 15px;
    border-spacing: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.184);
}
.recent-order  tr{
    border-bottom:4px solid black;
    text-align: center;
}
.recent-order tbody tr td{
    padding:6px 10px;
    
}
.success{
    color:#107105;
}
.primary{
    color:#120696;
    cursor: pointer;
}
.warning{
    color:rgb(159, 159, 7);
}
.fail{
    color:rgb(128, 4, 4);
}
.recent-order table tbody tr{
    border-bottom:1px solid rgba(176, 10, 10, 0.224);
  
}
.recent-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.update-box{
    height:auto;
    width:21rem;
    background:#fff;
    border-radius:10px;
    display: flex;
    flex-direction:column;
    align-items:center;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.184);
    transition:all .7s ease;
}
.update-box:hover{
    background:rgba(218, 216, 216, 0.68);
}
.update{
    display: flex;
    flex-direction: row;
    margin:10px;
    margin-top:15px;
    height:4rem;
    cursor:pointer;
}
.profile-photo img{
    border-radius: 50%;
    width:100%;
    height:100%;
}
.profile-photo{
    width:20pxs;
    padding:1px;
    height:40px;
    margin-right: 10px;
}
legend,.message p{
    display:inline-block;
}
.message{
    width:280px;
}
.sales-ana{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
    /* background:#fff; */
}
.icon{
    align-items: center;
    display:flex;
}
.item-online{
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.184);
    display:flex;
    flex-direction: row;
    background:#fff;
    width:21rem;
    border-radius: 10px;
    padding:5px 15px;
    height:5rem;
    align-items: center;
    gap:1.5rem;
    transition:all .8s ease;
    cursor:pointer;
}
.item-online:hover{
    transform: translateY(-5px);
    transition: all .8s ease;
    background:rgba(233, 230, 230, 0.741);
}
.rights{
    display:flex;
    justify-content: space-between;
    width:100%;
    align-items: center;
}
.info h3{
    text-transform:capitalize;
}
.twofeatures{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    padding:0;
}
@media screen and (max-width:750px) {
    .twofeatures{
        grid-template-columns: none;
        gap:2rem;
    }
    
}
/* main section end alllllllll */
